<%- include('./partials/head') %>

<section>
  <div class="card">
   <div class="front"> 
     <header><h1>Nadira Ben Salah</h1></header>
   
     <img src="assets/mugshot .jpg">
   </div>
  <div class="back">
    <a class="border"  href="link">No personality available </a>
 
  </div>
  </div>
 </section>



<!-- <article>
  <header>
    <h1>Hallo</h1>
    <p>mijn naam is</p>
  </header>

  <p><%= data.name %></p>

  <footer></footer>
</article> -->

<%- include('./partials/foot') %>
